<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css.css">
  <title>Let's Poll That!</title>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Let's poll that!</h1>
      <p>A simple polling app created using node.js and express</p>
      <hr>
      <form method="post" action="/create" id="pollform">
        <p>
          <input id="pollquestion" name="question" placeholder="Type question here">
        </p>
        <input name="option_one" placeholder="Enter a Poll Option"><br>
        <input name= "option_two" placeholder="Enter a Poll Option"><br>
        <input name= "option_three" placeholder="Enter a Poll Option"><br>
        <input name= "option_four" placeholder="Enter a Poll Option"><br>
        <input id="button" type="submit" value="Submit" class="btn btn-sm">
      </form>
    </div>
  </div>

  <script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>