<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/thanks.css.scss" type="text/css" media="screen" title="no title" charset="utf-8">  
  <title>Let's Poll That!</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Your vote has been counted!</h2>
        <h3>Thanks!</h3>  
    </div>
  </div>
</body>