$primary-super-dark-color: #550000;
$primary-dark-color: #801515;
$primary-medium-color: #AA3939;
$primary-light-color: #D46A6A;
$primary-super-light-color: #FFAAAA;

$secondary-super-dark-color: #440027;
$secondary-dark-color: #661141;
$secondary-medium-color: #882D61;
$secondary-light-color: #AA5585;
$secondary-super-light-color: #CD88AF;

$third-super-dark-color: #552700;
$third-dark-color: #804515;
$third-medium-color: #AA6C39;
$third-light-color: #D49A6A;
$third-super-light-color: #FFD1AA;

$font-stack: 'Open Sans', sans-serif;
$text-color: #000000;

